

<%- include("partials/header.ejs") %>
<body>
    <h1>Contact</h1>
    <% if (locals.contactContent) { %>
        <p><%= contactContent %></p>
    <% } %>
</body>


<%- include("partials/footer.ejs") %>