<%- include("partials/header.ejs") %>

<body>

    <form method="get">
        <div class="error-container">
            <img  src="<%=pageNotFound%>" alt="" width="50%" />
            <button type="submit" formaction="/howto" id="back-home-btn">How-To</button>
           
        </div>

    </form>
    
    
        
</body>