<%- include("partials/header.ejs") %>

<body class="howto">
  <form method="get">
    <div class="error-container">
      <p id="greeting">Hello</p>
      <p id="glad">Glad to see you here</p>
      <button type="submit" formaction="/howto" id="how-to-btn">
        LET'S BEGIN
      </button>
    </div>
  </form>
</body>
